<div class="text-center">
  <h3 class="text-gray-800 mb-5">
    Không tìm thấy trang
    <i class="fas fa-fw fa-exclamation-triangle"></i>
  </h3>
  <p class="text-gray-500 mb-0">Truy cập của bạn có thể bị lỗi hoặc không tìm thấy nội dung</p>
  <a href="/">&larr; Quay về trang chủ</a>
</div>