<div class="mt-5 row justify-content-center">
  <div class="col-xl-7">
    <h3 class="text-gray-800 mb-5 text-center font-weight-bold">
      Đăng nhập để sử dụng tất cả chức năng của Insights
    </h3>
    <ul class="mb-4">
      <li>Xem các tin tức phù hợp với sở thích cá nhân tại <b>Dành Cho Bạn</b></li>
      <li>Lưu các bài viết hay để xem sau</li>
      <li>Tương tác với bài viết, giúp chúng tôi kiểm soát nội dung tốt hơn</li>
    </ul>
    <div class="text-center">
      <a href="/users/sign_in/">
        <button type="button" class="btn btn-primary mr-2 d-inline small">Đăng nhập &rarr; </button>
      </a>
    </div>
  </div>
</div>