<div class="row">
  <div class="col-xl-12">
    <div class="d-sm-flex align-items-center justify-content-between mb-2 header">
      <h5 class="mb-2 font-weight-bold">Tin Mới Nhất</h4>
    </div>
  </div>
</div>

<%= render "posts_list", posts: @posts %>

<div class="row">
  <div class="col-xl-12">
    <div class="d-sm-flex align-items-center justify-content-between mb-2 header">
      <h5 class="mb-2 font-weight-bold">Videos</h4>
    </div>
  </div>
</div>

<%= render "videos_list", videos: @videos %>

<% if user_signed_in? %>
  <div class="row">
    <div class="col-xl-12">
      <div class="d-sm-flex align-items-center justify-content-between mb-2 header">
        <h5 class="mb-2 font-weight-bold">Tin khác từ <%= @most_visited_source.name %></h4>
      </div>
    </div>
  </div>

  <%= render "posts_list", posts: @most_visited_source_posts %>
<% end %>