<% breadcrumb :source, @source %>

<% if @posts.present? %>
  <div class="row">
    <div class="col-xl-12">
      <div class="d-sm-flex mb-2 post-header mr-3">
        <h5 class="ml-3 mt-2 font-weight-bold">Tin từ <%= @source.name %></h5>
      </div>
    </div>
  </div>

  <%= render "posts_list", posts: @posts %>
<% else %>
  <%= render "static_pages/page_not_found" %>
<% end %>