<table class="table table-borderless">
  <tbody>
    <tr>
      <td class="font-weight-bold" width="200px">ID</td>
      <td>
        <%= @category.id %>
      </td>
    </tr>
    <tr>
      <td class="font-weight-bold">Tên</td>
      <td>
        <%= @category.name %>
      </td>
    </tr>
    <tr>
      <td class="font-weight-bold">Slug</td>
      <td>
        <%= @category.slug %>
      </td>
    </tr>
    <tr>
      <td class="font-weight-bold">Label Type</td>
      <td>
        <%= @category.label_type %>
      </td>
    </tr>
  </tbody>
<table>