<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 fixed-top shadow-sm">
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>
  <a class="d-flex align-items-center justify-content-center" href="/">
    <img src="/images/logo.png" />
  </a>
  <ul class="navbar-nav ml-auto">
    <div class="topbar-divider d-none d-sm-block"></div>
    <% if admin_signed_in? %>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_admin.fullname || current_admin.email %></span>
          <img class="img-profile rounded-circle" src="/images/default_user.jpg">
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <div class="dropdown-divider"></div>
          <%= link_to(raw('<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Đăng xuất'), destroy_admin_session_path, method: :delete, class: "dropdown-item") %> 
        </div>
      </li>
    <% end %>
  </ul>

</nav>
