<ul class="navbar-nav sidebar accordion" id="accordionSidebar">
  <li class="nav-item">
    <a class="nav-link" href="/admins/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <hr class="sidebar-divider">

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="true" aria-controls="collapseUsers">
      <i class="fas fa-fw fa-users"></i>
      <span>Quản lí người dùng</span>
    </a>
    <div id="collapseUsers" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item mb-1" href="/categories/world/">Quản lí người dùng</a>
        <a class="collapse-item mb-1" href="/categories/economy/">Quản lí admin</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider">

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePosts" aria-expanded="true" aria-controls="collapsePosts">
      <i class="fas fa-fw fa-newspaper"></i>
      <span>Quản lí tin tức</span>
    </a>
    <div id="collapsePosts" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item mb-1" href="/admins/posts/">Tất cả tin tức</a>
        <a class="collapse-item mb-1" href="/admins/posts/reported/">Tin tức bị báo cáo</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider">

  <li class="nav-item">
    <a class="nav-link" href="/admins/youtube_videos/">
      <i class="fas fa-fw fa-video"></i>
      <span>Quản lí video</span></a>
  </li>

  <hr class="sidebar-divider d-none d-md-block">
</ul>
