<ul class="navbar-nav sidebar accordion" id="accordionSidebar">
  <li class="nav-item">
    <a class="nav-link" href="/admins/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <% if current_admin.sysop? %>
    <hr class="sidebar-divider">

    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="true" aria-controls="collapseUsers">
        <i class="fas fa-fw fa-users"></i>
        <span>Quản lí người dùng</span>
      </a>
      <div id="collapseUsers" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item mb-1" href="/admins/users/">Quản lí người dùng</a>
          <a class="collapse-item mb-1" href="/admins/admins/">Quản lí admin</a>
        </div>
      </div>
    </li>
  <% end %>

  <% if current_admin.sysop? || current_admin.analyst? %>
    <hr class="sidebar-divider">

    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnalysts" aria-expanded="true" aria-controls="collapseAnalysts">
        <i class="fas fa-fw fa-list"></i>
        <span>Theo dõi thống kê</span>
      </a>
      <div id="collapseAnalysts" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item mb-1" href="/admins/batch_logs/">Nhật ký thu thập tin tức</a>
          <a class="collapse-item mb-1" href="/admins/admins/">Kết quả gợi ý tin tức</a>
        </div>
      </div>
    </li>
  <% end %>

  <% if current_admin.sysop? || current_admin.editor? %>
    <hr class="sidebar-divider">
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePosts" aria-expanded="true" aria-controls="collapsePosts">
        <i class="fas fa-fw fa-newspaper"></i>
        <span>Quản lí tin tức</span>
      </a>
      <div id="collapsePosts" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item mb-1" href="/admins/posts/">Tất cả tin tức</a>
          <a class="collapse-item mb-1" href="/admins/posts/reported/">Tin tức bị báo cáo</a>
        </div>
      </div>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
      <a class="nav-link" href="/admins/youtube_videos/">
        <i class="fas fa-fw fa-video"></i>
        <span>Quản lí video</span></a>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSources" aria-expanded="true" aria-controls="collapseUsers">
        <i class="fas fa-fw fa-rss"></i>
        <span>Quản lí nguồn tin</span>
      </a>
      <div id="collapseSources" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item mb-1" href="/admins/sources/">Tất cả nguồn tin</a>
          <a class="collapse-item mb-1" href="/admins/sources/new/">Thêm nguồn tin mới</a>
        </div>
      </div>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategories" aria-expanded="true" aria-controls="collapseUsers">
        <i class="fas fa-fw fa-list"></i>
        <span>Quản lí danh mục</span>
      </a>
      <div id="collapseCategories" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item mb-1" href="/admins/categories/">Tất cả danh mục</a>
          <a class="collapse-item mb-1" href="/admins/categories/new/">Thêm danh mục mới</a>
        </div>
      </div>
    </li>
  <% end %>

  <hr class="sidebar-divider d-none d-md-block">
</ul>
