<% bookmarked = current_user && post.bookmarks.find { |bookmark| bookmark.user_id == current_user.id } %>
<% if bookmarked && bookmarked.status %>
  <div role="button" class="post-button card-bookmark" data-toggle="tooltip" data-placement="bottom" data-post_id=<%= post.id %> title="Bỏ lưu bài viết">
    <i class="fas fa-fw fa-bookmark post-bookmark-true"></i>
  </div>
<% else %>
  <div role="button" class="post-button card-bookmark" data-toggle="tooltip" data-placement="bottom" data-post_id=<%= post.id %> title="Lưu bài viết">
    <i class="far fa-fw fa-bookmark card-bookmark-false"></i>
  </div> 
<% end %>
