.bookmark-wrapper {
  border-color: #e0e0e0;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  font-size: 0.875rem;
  line-height: 1.4;
  padding-bottom: 1.25rem;
  padding-top: 1.5rem;
  text-align: center;
}