<ul class="navbar-nav sidebar accordion" id="accordionSidebar">
  <li class="nav-item active">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-home"></i>
      <span>Trang chủ</span></a>
  </li>

  <hr class="sidebar-divider">

  <li class="nav-item">
    <a class="nav-link collapsed" href="/posts/">
      <i class="fas fa-fw fa-newspaper"></i>
      <span>Tin mới nhất</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="/bookmarks/">
      <i class="fas fa-fw fa-bookmark"></i>
      <span>Tin đã lưu</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#">
      <i class="fas fa-fw fa-user"></i>
      <span>Dành cho bạn</span>
    </a>
  </li>

  <hr class="sidebar-divider">

  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-users"></i>
      <span>Mạng xã hội</span></a>
  </li>

  <hr class="sidebar-divider">

  <li class="nav-item">
    <a class="nav-link collapsed" href="#">
      <i class="fas fa-fw fa-globe-europe mr-1"></i>
      <span>Tin Thế Giới</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#">
      <i class="fas fa-fw fa-rss mr-1"></i>
      <span>Tin Xã Hội</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#">
      <i class="fas fa-fw fa-futbol mr-1"></i>
      <span>Tin Thể Thao</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#">
      <i class="fas fa-fw fa-school mr-1"></i>
      <span>Tin Giáo Dục</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#">
      <i class="fas fa-fw fa-plane-departure mr-1"></i>
      <span>Tin Du Lịch</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#">
      <i class="fas fa-fw fa-money-bill-wave mr-1"></i>
      <span>Tin Kinh Tế</span>
    </a>
  </li>

  <hr class="sidebar-divider d-none d-md-block">

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
