<p>Chào mừng <%= @email %>!</p>

<p>Cảm ơn bạn đã chọn sử dụng hệ thống tổng hợp tin tức Insights!</p>

<p>Xác thực email của bạn thông qua đường link sau:</p>

<p><%= link_to 'Xác thực tài khoản', confirmation_url(@resource, confirmation_token: @token) %></p>
