<p>Xin chào <%= @resource.email %>!</p>

<p>Có người đã yêu cầu một đường link để thay đổi mật khẩu. Bạn có thể thực hiện điều này qua đường link bên dưới.</p>

<p><%= link_to 'Thay đổi mật khẩu', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Nếu bạn không yêu cầu điều này, vui lòng bỏ qua email này.</p>
<p>Mật khẩu của bạn sẽ không thay đổi cho tới khi bạn truy cập đường link trên và tạo mật khẩu mới.</p>
